/*********************** TAG SELECTOR  @Overriding to specific*****************/

h1 {

    color: red;
    font-size: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color:black;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    background-color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

/*************************CLASS SELECTOR @Overriding to specific************ FOR IMAGE TAG*/
.bacon {
    background-color: greenyellow;
}
/*******************ID SELECTOR  @Overriding to specific********************/
#heading {
    color: blue;
}

.broccoli{
    background-color: aqua;
}

 /* circular class */
.circular {
    border-radius: 100%;
}
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
}

h2 {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

hr {
    border-style: none;
    border-bottom-style: dotted;
    border-color: red;
    border-width: 20px;
    width: 5%;
   }

input {
    background-color: aqua;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    
}

.mouse:hover {
    background-color: gold;
}

.list-group li{
    background-color:aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
}

.circular:hover {
      background-color: gold;
}